img[src*="logo"] {
  object-fit: cover;
  display: block;
  margin-inline: auto;
  margin-top: 2.75rem;
}

header {
  padding-block: 2.5rem;
  gap: 3rem;

  & div:nth-child(1) {
    gap: 0.5rem;
  }

  & h3 {
    font: var(--overline);
    background: var(--gradient-content);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  & h1 {
    font: var(--dp-md);
    color: var(--content-primary);
    max-width: 20rem;
  }
}

@media (950px <= width) {
  img[src*="logo"] {
    margin-inline: 0 auto;
    margin-block: 3rem;
  }

  header {
    padding-block: 0;
    gap: 2rem;
    max-width: 26rem;
    max-height: 22rem;

    & h1 {
      font-size: 3.25rem;
      max-width: 100%;
    }
  }
}

@media (width >= 1200px) {
  img[src*="logo"] {
    margin-block: 5rem 0;
  }

  header {
    max-width: 34rem;

    & h1 {
      font: var(--dp-lg);
    }
  }
}
