main {
  & .title {
    padding: 2.875rem 0 2.625rem 0;

    & h2 {
      font: var(--overline) var(--roboto-mono);
      font-weight: bold;
      background: linear-gradient(
        90deg,
        var(--content-secondary) 0%,
        var(--background-gray) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    & h1 {
      margin-top: 0.5rem;
      font: var(--display-md);
      color: var(--content-primary);
    }
  }

  section {
    margin: 2.25rem;

    &.info {
      gap: 0.5rem;

      & img {
        width: 1.25rem;
        height: 1.25rem;
      }

      & div h3 {
        color: var(--content-brand);
        font: var(--p-md);
      }

      & div p {
        color: var(--content-secondary);
        font: var(--p-sm);
      }
    }
  }
}

@media (width >= 1280px) {
  main {
    display: flex;
    flex-direction: column;
   
  }

  & .desktop-only {
    display: initial;
  }
}
